---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.tsx';
import Developer from '../components/Developer.tsx';
import TechStack from '../components/TechStack.tsx';
import Experience from '../components/Experience.tsx';
import Projects from '../components/Projects.tsx';
---

<Layout>
  <div class="relative flex min-h-screen w-full flex-col group/design-root">
    <Header client:load />
    <main class="layout-container flex h-full grow flex-col items-center">
      <Developer />
      <TechStack />
      <Experience />
      <Projects />
      <Footer />
    </main>
  </div>
</Layout>
